body {
    background: #404040;
    font-family: sans-serif;
    font-weight: 100;
    height: 98vh;
}

#top-bar-container{
    display: flex; 
    flex-direction:row; 
    justify-content: space-between; 
    align-items: center;
    height: 30px;
}

#bottom-bar-container{
    display: flex; 
    flex-direction:row; 
    justify-content: center;
    align-items: center;
    height: 30px;
}

#copyright{
    color: white;
    animation: glow 1s infinite alternate;
}

@keyframes glow{
    to {text-shadow: 0px 0px 15px #0030ff;}
}

#currentuser-display{
    padding: 5px;
    background-color: #55608f;
    color: white;
    border: none;
    cursor: pointer;
    border: 5px;
    border-radius: 3px;
}



/* table */
.table-container {
    overflow-y:visible; 
    box-sizing: border-box;
    white-space: wrap;
    display: flex; 
    align-items:center; 
    flex-direction: column;
    gap:10px;
}

table {
    width: 60vw;
    border-collapse: collapse;
    border: 5px;
    border-radius: 3px;
    border-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* table-layout: fixed;  */
    word-wrap: break-word; 
    overflow: hidden; 
    color:#fff;
}

th,
td {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

td {
    position: relative;
    overflow:hidden;
}

td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}


#thesis-submission-header{
    text-align: center;
}
#submission-title{
    width: 100%;
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    padding: 5px;
}

#submission-abstract{
    width: 100%;
    height: 200px;
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    padding: 5px;
}

#submission-year{
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box; /* fit boxes into the cells*/
    padding: 5px;
}
#submission-type{
    width: 100%;
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    padding: 5px;
}
#number-of-pages-submission{
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    padding: 5px;
}
textarea{
    resize: none;
    outline: none;
}

#university-textarea,
#institute-textarea,
#topics-textarea,
#keyword-textarea,
#language-textarea,
#supervisor-textarea,
#cosupervisor-textarea{
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-width: 2px;
    border-color: #fff;
    border-style: solid;
}
#supervisor-textarea{
    border-color: #ffd98e;
}
#cosupervisor-textarea{
    border-color: #ff8ef7;
}

td:nth-of-type(1){width: 35}
td:nth-of-type(2){width: 25%}
td:nth-of-type(3){width: 35%}


/* ^table */

/* general page buttons */

button {
    padding: 5px;
    background-color: #55608f;
    color: white;
    border: none;
    cursor: pointer;
    border: 5px;
    border-radius: 3px;
}
.table-button{
    text-align: center;
    display: block; 
    margin: 0 auto;     
    margin-top: 10px;
}
button:hover {
    background-color: #3a4b6f;
}