<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/institutemenu.css">
    </head>
    <body>
        <table id="institutes-table">
            <thead>
            <tr>
                <th id="institutes-table-header">Institutes</th>
                <th><input type="text" id="institutes-filter" placeholder="Filter Institutes"></th>
            </tr>
            <tr>
                <th id="universities-table-header2">Add or select an Institute of an University</th>
                <th> 
                    <div style="display:flex; flex-direction: column;">
                        <select name="universityTho" id="requiredUniversity">
                            <option disable selected value>--Select--</option>
                        </select> 
                    <div style="display:flex; flex-direction: row;"><input type="text" id="institutes-adder" placeholder=""><button id="addinstitutebutton">Add</button></div>
                    </div>
                </th>
            </div>
            </tr>
            </thead>
        <tbody id="institutes-body">
    </body>
<script src="../static/institutemenu.js"></script>
</html>