<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/keywordmenu.css">
    </head>
    <body>
        <table id="keywords-table">
            <thead>
            <tr>
                <th id="keywords-table-header">Keywords</th>
                <th><input type="text" id="keywords-filter" placeholder="Filter Keywords"></th>
            </tr>
            <tr>
                <th id="keywords-table-header2">Add a keyword</th>
                <div style="display:flex; flex-direction: row;">
                <th><input type="text" id="keywords-adder" placeholder=""><button id="describekeywordbutton">add</button></th>
                </div>
            </tr>
            </thead>
        <tbody id="keywords-body">
    </body>
</body>
<script src="../static/keywordmenu.js"></script>
</html>