<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/languagemenu.css">
    </head>
    <body>
        <table id="languages-table">
            <thead>
            <tr>
                <th id="languages-table-header">Languages</th>
                <th><input type="text" id="languages-filter" placeholder="Filter Languages"></th>
            </tr>
            <tr>
                <th id="languages-table-header2">Add a Language</th>
                <div style="display:flex; flex-direction: row;">
                <th><input type="text" id="languages-adder" placeholder=""><button id="describelanguagebutton">add</button></th>
                </div>
            </tr>
            </thead>
        <tbody id="languages-body">
    </body>
</body>
<script src="../static/languagemenu.js"></script>
</html>