<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/topicmenu.css">
    </head>
    <body>
        <table id="topics-table">
            <thead>
            <tr>
                <th id="topics-table-header">Topics</th>
                <th><input type="text" id="topics-filter" placeholder="Filter Topics"></th>
            </tr>
            </thead>
        <tbody id="topics-body">
    </body>
</body>
<script src="../static/topicmenu.js"></script>
</html>