<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/universitymenu.css">
    </head>
    <body>
        <table id="universities-table">
            <thead>
            <tr>
                <th id="universities-table-header">Universities</th>
                <th><input type="text" id="universities-filter" placeholder="Filter Universities"></th>
            </tr>
            <tr>
                <th id="universities-table-header2">Add an university</th>
                <div style="display:flex; flex-direction: row;">
                <th><input type="text" id="universities-adder" placeholder=""><button id="adduniversitybutton">Add</button></th>
                </div>
            </tr>
            </thead>
        <tbody id="universities-body">
    </body>
<script src="../static/universitymenu.js"></script>
</html>